In [2]:
# %reset

In [55]:
import pandas as pd
import numpy as np

### Part One

In [8]:
df = pd.read_csv('input.txt', header=None)

In [9]:
df

                            0
0            8-9 x: xxxxxxxrk
1             5-8 f: fxffmfff
2              2-5 c: ccspwpc
3                 1-4 g: gggg
4          9-10 l: lllllllllk
..                        ...
995              1-3 p: pfppp
996               2-4 t: tttw
997  5-10 w: zzcwwwwwwkwwwqws
998        1-7 c: ccrmhdchwbr
999     7-11 g: xzgnggggrggrg

[1000 rows x 1 columns]

In [84]:
valid_counter = 0

for i in range(df.size):
    full_string = df[0][i]
    split_string = full_string.split() 
    
    min_num = int(split_string[0].split('-')[0])
    max_num = int(split_string[0].split('-')[1])
    letter = split_string[1][0]
    password = split_string[2]
    
    if password.count(letter) >= min_num and password.count(letter) <= max_num:
        valid_counter = valid_counter + 1

print('Number of valid passwords: ', valid_counter)

Number of valid passwords:  645

### Part Two

In [87]:
valid_counter = 0

for i in range(df.size):
    full_string = df[0][i]
    split_string = full_string.split() 
    
    first_pos = int(split_string[0].split('-')[0]) - 1
    second_pos = int(split_string[0].split('-')[1]) - 1
    letter = split_string[1][0]
    password = split_string[2]
    
    if password[first_pos] == letter and password[second_pos] != letter:
        valid_counter = valid_counter + 1
        continue
    
    if password[first_pos] != letter and password[second_pos] == letter:
        valid_counter = valid_counter + 1
    
print('Number of valid passwords: ', valid_counter)

Number of valid passwords:  737